:root {
    --bg:white;
    --color:rgb(245 51 144 / 66%);
}
html,body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
}
body { 
    text-align: center; 
    color:var(--white);
    overflow: auto;
}
#map-container {
    position: relative;
    display: inline-block;
}
#map {
    display: block;
    width: auto; /* Adjust as needed */
    height: 1000px;
}
.point {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid var(--color);
    background: none;
    transform: translate(-50%, -50%);
}
.line {
    position: absolute;
    background: var(--color);
    transform-origin: left center;
}
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--color);
    transform-origin: bottom center !important;
}
.double-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid var(--color);
    background: none;
    transform: translate(-50%, -50%);
}
.double-circle::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.label {
    position: absolute;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: var(--color);
    transform: translate(10px, -10px);
}